html {
    background-color: #6666ff;
    color: #1a2a3a;
}

#generate {
    background-color: #66ff99;
    font-size: 2rem;
    border-radius: 0.5rem;
}

.content {
    text-align: center;
}

#results {
    font-size: 3rem;
}